<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns="http://java.sun.com/xml/ns/javaee" xsi:schemaLocation="http://java.sun.com/xml/ns/javaee http://java.sun.com/xml/ns/javaee/web-app_3_0.xsd" id="WebApp_ID" version="3.0">
  <display-name>HolsanSysWebApplication</display-name>
  <servlet>
    <description>This is the description of my J2EE component</description>
    <display-name>This is the display name of my J2EE component</display-name>
    <servlet-name>MedicineAddServlet</servlet-name>
    <servlet-class>com.web.servlet.MedicineAddServlet</servlet-class>
  </servlet>
  <servlet>
    <description>This is the description of my J2EE component</description>
    <display-name>This is the display name of my J2EE component</display-name>
    <servlet-name>MedicineEditFindServlet</servlet-name>
    <servlet-class>com.web.servlet.MedicineEditFindServlet</servlet-class>
  </servlet>
  <servlet>
    <description>This is the description of my J2EE component</description>
    <display-name>This is the display name of my J2EE component</display-name>
    <servlet-name>MedicineEditUpdateServlet</servlet-name>
    <servlet-class>com.web.servlet.MedicineEditUpdateServlet</servlet-class>
  </servlet>
  <servlet>
    <description>This is the description of my J2EE component</description>
    <display-name>This is the display name of my J2EE component</display-name>
    <servlet-name>PatientListServlet</servlet-name>
    <servlet-class>com.web.servlet.PatientListServlet</servlet-class>
  </servlet>
  <servlet>
    <description>This is the description of my J2EE component</description>
    <display-name>This is the display name of my J2EE component</display-name>
    <servlet-name>MedicineDeleteServlet</servlet-name>
    <servlet-class>com.web.servlet.MedicineDeleteServlet</servlet-class>
  </servlet>
  <servlet>
    <description>This is the description of my J2EE component</description>
    <display-name>This is the display name of my J2EE component</display-name>
    <servlet-name>loginServlet</servlet-name>
    <servlet-class>com.web.servlet.loginServlet</servlet-class>
  </servlet>
  <servlet>
    <description>This is the description of my J2EE component</description>
    <display-name>This is the display name of my J2EE component</display-name>
    <servlet-name>PatientEditFindServlet</servlet-name>
    <servlet-class>com.web.servlet.PatientEditFindServlet</servlet-class>
  </servlet>
  <servlet>
    <description>This is the description of my J2EE component</description>
    <display-name>This is the display name of my J2EE component</display-name>
    <servlet-name>PatientEditUpdateServlet</servlet-name>
    <servlet-class>com.web.servlet.PatientEditUpdateServlet</servlet-class>
  </servlet>
  <servlet>
    <description>This is the description of my J2EE component</description>
    <display-name>This is the display name of my J2EE component</display-name>
    <servlet-name>PatientAddServlet</servlet-name>
    <servlet-class>com.web.servlet.PatientAddServlet</servlet-class>
  </servlet>
  <servlet>
    <description>This is the description of my J2EE component</description>
    <display-name>This is the display name of my J2EE component</display-name>
    <servlet-name>PatientDeleteServlet</servlet-name>
    <servlet-class>com.web.servlet.PatientDeleteServlet</servlet-class>
  </servlet>
  <servlet>
    <description>This is the description of my J2EE component</description>
    <display-name>This is the display name of my J2EE component</display-name>
    <servlet-name>DrugRecordFindServlet</servlet-name>
    <servlet-class>com.web.servlet.DrugRecordFindServlet</servlet-class>
  </servlet>











  <servlet-mapping>
    <servlet-name>MedicineAddServlet</servlet-name>
    <url-pattern>/servlet/MedicineAddServlet</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>MedicineEditFindServlet</servlet-name>
    <url-pattern>/servlet/MedicineEditFindServlet</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>MedicineEditUpdateServlet</servlet-name>
    <url-pattern>/servlet/MedicineEditUpdateServlet</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>PatientListServlet</servlet-name>
    <url-pattern>/servlet/PatientListServlet</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>MedicineDeleteServlet</servlet-name>
    <url-pattern>/servlet/MedicineDeleteServlet</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>loginServlet</servlet-name>
    <url-pattern>/servlet/loginServlet</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>PatientEditFindServlet</servlet-name>
    <url-pattern>/servlet/PatientEditFindServlet</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>PatientEditUpdateServlet</servlet-name>
    <url-pattern>/servlet/PatientEditUpdateServlet</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>PatientAddServlet</servlet-name>
    <url-pattern>/servlet/PatientAddServlet</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>PatientDeleteServlet</servlet-name>
    <url-pattern>/servlet/PatientDeleteServlet</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>DrugRecordFindServlet</servlet-name>
    <url-pattern>/servlet/DrugRecordFindServlet</url-pattern>
  </servlet-mapping>
  <welcome-file-list>
    <welcome-file>index.html</welcome-file>
    <welcome-file>index.htm</welcome-file>
    <welcome-file>index.jsp</welcome-file>
    <welcome-file>default.html</welcome-file>
    <welcome-file>default.htm</welcome-file>
    <welcome-file>default.jsp</welcome-file>
  </welcome-file-list>
</web-app>